---
import LayoutDefault from "~/layouts/LayoutDefault.astro";
import '~/styles/about.css';
---

<LayoutDefault>
  <div class="about-page">
    <h1 class="about-page__title">Sobre este blog</h1>
    <article class="about-page__content">
      Mixtura de Ideas es un espacio en línea, un blog donde tengo la
      oportunidad de compartir mis pensamientos, experiencias y descubrimientos
      sobre una amplia gama de temas que van desde aspectos culturales hasta
      avances tecnológicos. Este blog sirve como un foro para explorar nuevas
      ideas y aprender en conjunto sobre los cambios constantes y las tendencias
      emergentes que influyen en nuestra sociedad. Aquí, cada publicación es
      cuidadosamente diseñada para ser una oportunidad única para profundizar en
      nuestro entendimiento del mundo en que vivimos y las dinámicas con las que
      interactuamos diariamente. En Mixtura de Ideas, invitamos a los lectores a
      sumergirse en discusiones enriquecedoras y a contribuir a nuestra
      comunidad de aprendizaje colectivo.
    </article>
  </div>
</LayoutDefault>