---
import LayoutDefault from "~/layouts/LayoutDefault.astro";
import "~/styles/about.css";
---

<LayoutDefault>
  <div class="about-page">
    <h1 class="about-page__title">Sobre este blog</h1>
    <article class="about-page__content">
      Mixtura de Ideas es un espacio donde comparto mis ideas, pensamientos
      siempre en un tono informal. Y como su nombre lo indica, es una mezcla de
      ideas, pensamientos y reflexiones que me gustaría compartir. Nacido de mi
      pasión por varios temas, como la tecnología, la programación, la pintura y
      muchas otras cosas.
    </article>
  </div>
</LayoutDefault>
